<template>
  <div class="container">
    <div v-if="$apollo.queries.character.loading" class="">
      Loading..
    </div>
    <div v-if="!$apollo.queries.character.loading" class="my-4 mx-auto d-flex flex-column align-items-center text-center">
      <h1 class="">
        {{ character.name }}
      </h1>
      <img :src="character.image" :alt="character.name" class="w-50">
      <div class="p-2">
        <p class="">
          Status:{{ character.status }}
        </p>

        <h2 class="">
          Gender: {{ character.gender }}
        </h2>
        <h2 class="">
          Origin: {{ character.origin.name }}
        </h2>
      </div>
    </div>
    <div class=" text-center">
      <nuxt-link class="btn btn-primary" to="/">
        Back to overview
      </nuxt-link>
    </div>
  </div>
</template>

<script>
import gql from 'graphql-tag'

export default {
  name: 'CharacterCard',
  layout: 'blog',
  apollo: {
    // Dynamic querying
    character: {
      query: gql`
        query getCharacter($id: ID!) {
          character(id: $id) {
            id
            name
            status
            species
            gender
            image
            origin {
              name
            }
          }
        }
      `,
      variables () {
        return {
          // if the route.params.id is null make id = 1
          id: this.$route.params.graphql || 1
        }
      }
    }
  }
}
</script>
