<template>
  <div class="container">
    <b-button centered v-b-modal.modal-1>
      <slot name="buttonText">
        Click me
      </slot>
    </b-button>

    <b-modal centered id="modal-1">
      <template #modal-title>
       <slot name="title">
        Alright then
        </slot>
    </template>
      <p class="my-4">
        <slot name="content" />
      </p>
      <template #modal-ok>
        <slot name="okButton">
        Alright then
        </slot>
      </template>
      <template #modal-cancel>
        <slot name="cancelButton">
          Canceled
        </slot>
      </template>
    </b-modal>
  </div>
</template>

<style lang="scss">
  .modal-header, .modal-footer {
    border: none;
  }

</style>

<script>
export default {
  name: 'ModalComponent'
}
</script>
