<template>
  <div id="nav">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Logo Here</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon" />
      </button>

      <div id="navbarSupportedContent" class="collapse navbar-collapse">
        <div class="navbar-nav mr-auto">
          <NuxtLink class="nav-item nav-link" to="/">
            Home
          </NuxtLink>
          <NuxtLink class="nav-item nav-link" to="/contact">
            Contact <span class="sr-only">(current)</span>
          </NuxtLink>
        </div>
      </div>
    </nav>
    <div v-if="$device.isMobile">
      Mobile nav
    </div>
    <div v-else-if="$device.isTablet">
      Tablet
    </div>
    <div v-else>
      Desktop
    </div>
  </div>
</template>

<script>
export default {
  name: 'TheNav'
}
</script>

<style lang="scss" scoped>
</style>
