.btn {
  border-radius: 20px;
  padding: 6px 24px;
}

.btn--secondary {
  top: 40px;
  font-family: "proxima-nova", sans-serif;
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase !important;
  letter-spacing: 2px;
  color: $secondary;
  cursor: hand;
  text-align: center;
  text-transform: capitalize;
  border: 1px solid $secondary;
  border-radius: 50px;
  position: relative;
  overflow: hidden !important;
  transition: all 0.3s ease-in-out;
  background: transparent !important;
  z-index: 10;

  &:before {
    content: "";
    position: absolute;
    bottom: 50%;
    left: 0px;
    width: 100%;
    height: 1px;
    background: #6098ff;
    display: block;
    transform-origin: left top;
    transform: scale(0, 1);
    transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
  }
  &:before {
    color: $secondary;
    content: "";
    width: 0%;
    height: 100%;
    display: block;
    background: #071982;
    position: absolute;
    transform: skewX(-20deg);
    left: -10%;
    opacity: 1;
    top: 0;
    z-index: -12;
    transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
    box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
  }
  &:after {
    content: "";
    width: 0%;
    height: 100%;
    display: block;
    background: #80ffd3;
    position: absolute;
    transform: skewX(-20deg);
    left: -10%;
    opacity: 0;
    top: 0;
    z-index: -15;
    box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
  }
  &:hover {
    border: 1px solid #071982;
    color: #80ffd3 !important;
  }
  &:hover:before {
    transform: scale(1, 1);
  }
}

.btn--secondary:hover::before,
.btn--secondary:hover::before {
  opacity: 1;
  width: 116%;
}
.btn--secondary:hover::after,
.btn--secondary:hover::after {
  opacity: 1;
  width: 120%;
}
