<template>
  <div class="container my-4">
    <h1>
      GraphQl section
    </h1>
    <div v-if="$apollo.queries.characters.loading">
      Loading up the Rick and Morty universe
    </div>
    <div v-if="!$apollo.queries.characters.loading">
      <div v-for="character in characters.results" :key="character.id" class="">
        <nuxt-link :to="character.id" class="btn btn--secondary mb-4">
          {{ character.name }}
        </nuxt-link>
      </div>
      <nuxt-child :key="$route.params.id" />
    </div>
  </div>
</template>

<script>
import gql from 'graphql-tag'

export default {
  name: 'GraphQl',

  apollo: {
    characters: gql`
      query getCharacters {
        characters {
          results {
            id
            name
            status
          }
        }
      }
    `
  }
}
</script>

<style lang="scss" scoped>
</style>
