<template>
  <div class="container my-4">
    <h1>Search section</h1>
    <input v-model="name" type="text">
    <p>
      {{ name }}
    </p>

    <div v-for="character in searchResults.results" :key="character.id" class="">
       <nuxt-link :to="character.id" class="link">
          {{ character.name }}
        </nuxt-link>
    </div>
  </div>
</template>

<script>
import gql from 'graphql-tag'

const SEARCH_QUERY = gql`
      query Search($name: String!) {
       searchResults: characters(page: 0, filter: {name: $name}) {
          results {
            id
            name
            status
          }
        }
      }
      `

export default {
  name: 'GraphQl',

  data () {
    return {
      searchResults: [],
      name: 'rick'
    }
  },

  apollo: {
    searchResults: {
      query: SEARCH_QUERY,
      variables () {
        return {
          name: this.name
        }
      },
      result: result => console.log(result),
      skip () {
        return !this.name
      }
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
