<template>
  <div>
    <ModalComponent>
      <template #title>
        Title of the modal
      </template>
      <template #buttonText>
        Click the modal
      </template>
      <template #content>
        Content inside the modal
      </template>
      <template #okButton>
        Okay, close me
      </template>
      <template #cancelButton>
        Abort abort
      </template>
    </ModalComponent>
    <SearchGraph />
    <GraphQl />
  </div>
</template>

<script>
import ModalComponent from '@/components/ModalComponent'
import GraphQl from '@/components/graphql/index'
import SearchGraph from '@/components/graphql/search'

export default {
  name: 'IndexPage',
  components: {
    ModalComponent,
    GraphQl,
    SearchGraph
  }
}
</script>
